/* Disable animations for FounderSection */
.fadeup {
  animation: none !important;
  transition: none !important;
  transform: none !important;
}

.image-container img,
.image-container .image-zoom {
  transform: scale(1) !important; /* Disable zoom effect */
  transition: none !important; /* Remove transition */
}

@media only screen and (max-width: 960px) {
  .founder-height {
    min-height: 100vh !important;
  }
}
