.dual-container-2 {
  grid-template-columns: 1fr 1fr !important;
}

/* Disable zoom animations for RioLuxuryHomesInfo images */
.image-zoom {
  transform: scale(1) !important; /* Disable zoom effect */
  transition: none !important; /* Remove transition */
}

@media only screen and (max-width: 768px) {
  .dual-container-2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
