/* Disable all animations for InvestSection */
.invest-section * {
  animation: none !important;
  transition: none !important;
  transform: none !important;
}

.invest-section .image-zoom {
  transform: scale(1) !important; /* Disable zoom effect */
  transition: none !important; /* Remove transition */
}

.invest-section img {
  transform: scale(1) !important; /* Disable zoom effect */
  transition: none !important; /* Remove transition */
}

.invest-section .animated-arrow {
  animation: none !important;
  transition: none !important;
}

.scroll-down-wrapper-invest-section {
  position: absolute;
  bottom: 9%;
  right: 80%;
  transform: translate(-60%, 0px);
  z-index: 10;
  pointer-events: none;
  transition: none !important; /* Disable transition */
}

@media only screen and (max-width: 768px) {
  .scroll-down-wrapper-invest-section {
    bottom: 6%;
    right: 41%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1450px) {
  .dual-invest-section {
    display: grid;
    grid-template-columns: 2fr 2fr !important;
    height: 100%;
  }
}
